.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: arial;
}

.staff-container-item{
  border: solid 1px black;
  margin: 10px;
  grid-row-start: 1;
}

.grid-item-heading{
  text-align: center;
}

.staff-container{
  display: grid;
}

.buttons-container{
  text-align: center;
}

.navbar-div{
  display: grid;
  margin: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: solid 1px black;
}

.navLink{
  grid-row-start: 1;
  padding: 20px;
}

.journalists-list{
  margin:20px;
  justify-content: space-around;
  display: grid;
}

.journalist-item{
  grid-row-start: 1;
}

.list-heading{
  text-align: center;
}

#articles-table{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

td{
  text-align: center;
}
