/* Jane */

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  max-width: 100%;
  margin: auto;
  background-color: white;
}

/* Removes visited link colour change & underline */

.buttonz {
    background-color: grey;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
}

.delete {
  font-style: italic;
}

a {
  color: black;
  text-decoration: none;
}

/* NAVBAR  */

.banner {
  height: 68px;
  background-color: #2e2e2e;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: 368px 70px;
}

/* DROPDOWN MENU  */

.dropdown {
  float: right;
  overflow: hidden;
  height: 70px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 25px 35px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  font-weight: bold;
}

.dropdown-content a {
  float: none;
  color: #2e2e2e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: white;
  background-color: #194a41;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
}

.journalist-individual {
  margin-top: 50px;
}

/* Staff container buttons */

.view-all-button {
  border: none;
  padding: 13px 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 0.9em;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 150px;
  background-color: #194a41;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.view-all-button-hover:hover {
  background-color: #555555;
  color: white;
}

/* Journalist cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  height: 100%;
  font-size: 0.8em;
  word-wrap: break-word;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.container {
  padding: 2px 16px;
}

/* Journalist cards flex box */

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Table */

table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

table td, table th {
  border: 1px solid #f1f1f1;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #dddddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #194a41;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Form */

input[type=text], select {
  width: 100%;
  padding: 12px 210px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #194a41;
  color: white;
  padding: 12px 20px;
  border-color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #555555;
}

.box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-30 {
  float: left;
  width: 30%;
}

.col-70 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.right{
  float:right!important;
}

.form{
  padding:2em 16px;
}

.slimform {
  margin: auto;
  width: 60%;
}

/* Fiona */
.staff-container-item{
  border-radius: 12px;
  margin: 10px;
  grid-row-start: 1;
  background-color: #ebebeb;
  padding-bottom: 15px;
  color: #2e2e2e;
}

.grid-item-heading{
  text-align: center;
  color: #2e2e2e;
}

.staff-container{
  display: grid;
  background-color: white;
  margin: auto;
  max-width: 70%;
  /* margin-left: 115px; */
  margin-top: 100px;
}

.buttons-container{
  text-align: center;
  margin: 10px;
}

.navbar-div{
  display: grid;
  /* margin: 20px; */
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: solid 1px black;
  text-align: center;
  background-color: white;
}

.navLink{
  grid-row-start: 1;
  padding: 20px;
}

.journalists-list{
  margin:20px;
  justify-content: space-around;
  display: grid;
}

.journalist-item{
  grid-row-start: 1;
}

.list-heading{
  text-align: center;
  color: #2e2e2e;
}

#articles-table{
  width: 800px;
  margin: auto;
}

td {
  text-align: left;
}

th {
  text-align: left;
}
